@font-face {
    font-family:eng1;
    src: url('PoiretOne-Regular.ttf');
}
@font-face {
    font-family:eng2;
    src: url('TextMeOne-Regular.ttf');
}
@font-face {
    font-family:eng3;
    src: url('Ruluko-Regular.ttf');
}
@font-face {
    font-family:eng4;
    src: url('Magra-Regular.ttf');
}
@font-face {
    font-family:eng5;
    src: url('SpaceGrotesk-Bold.ttf');
}
@font-face {
    font-family:eng6;
    src: url('Cagliostro-Regular.ttf');
}
.fontsize{
    font-size:48pt;
}



