{% extends "app1/base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0 text-center font-weight-bold">
      <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
{% endif %}
<div class="card shadow-lg ">
	<div class=" card-header text-center display-3 shadow-sm font-weight-bold" style="font-size:4vw;">
		<p> {{person.name}} {{person.lastname}}</p>
	</div>
	<div class=" card-body font-weight-bolder ">
		<p>details:</p>
			<p>this person have <kbd> {{person.bullet}} </kbd> tomans in his bullet </p>
			<p>, he should pay <kbd> {{person.owe}} </kbd> tomans to the leader</p>
			<p>and he should do the duties on <kbd>{{duty}}</kbd> .</p>
	</div>
	<div class="card-footer d-flex justify-content-between ">
	    <a href="{% url 'app1:edit_person_bullet' person.id %}">edit bullet</a>
		<a href="{% url 'app1:edit_person' person.id %}">edit person</a>
	</div>
</div>
	  {% endblock content %}